doctype html
html
  head
    title= title
    link(rel='stylesheet', href='bower_components/pure/pure.css')
    link(rel='stylesheet', href='css/style.css')
  body
    .page-header
      ul
        li
          a(class="pure-button pure-button-primary" href="/") Main
        li
          a(class="pure-button pure-button-primary" href="users") My Page
        li
          if logged == true
            form(method='POST', action="logout")
              button( type="submit" class="pure-button pure-button-primary") Log Out
          else
            a(class="pure-button pure-button-primary" href="login") Log in
    block content
