doctype html
html(lang="en")
   head
      title= loginPage
      link(rel='stylesheet', href='bower_components/pure/pure.css')
      style.
         fieldset {
            text-align: center;
            margin: auto;
         }
         fieldset .pure-control-group {
            margin: 5px;
         }
         .pure-control-group label, .pure-control-group input {
            margin: 10px;
         }
         .pure-control-group > *, .pure-controls > * {
           /* width: 30%*/
         }
   body
      form(class='pure-form' method='POST', action='/login')
         fieldset
            .pure-control-group
               label(for="username") Username
               input(id="username" name="username" type="text" placeholder="Username")
            .pure-control-group
               label(for="password") Password
               input(id="password" name="password" type="password" placeholder="Password" required)
            .pure-controls
               button(class="pure-button pure-button-primary") Submit

