.pure-table td span:hover {
    cursor: pointer
}

.pure-table td .fa-check-circle-o {
    color: gray
}

.pure-table td .fa-check:hover {
    color: green
}

.item-done {
    color: gray;
}

.item-done > td:first-child {
    text-decoration: line-through;
}

.pure-table td .fa-times:hover {
    color: red
}

.pure-table tbody tr:first-child {
    font-weight: bold;
}